{% extends 'layouts/base.html' %}

{% block title %}
Login
{% endblock%}

{% block url %}
href={% url 'users.logout' %}
{% endblock %}

{% block logged %}
<a class="nav-link active" aria-current="page" href="{% url 'users.login' %}">LogIn</a>
<a class="nav-link active" aria-current="page" href="{% url 'users.register' %}">Sign Up</a>
{% endblock %}

{% block body_content %}
        <style>
            .centerss {
                margin-left: 450px;
                width: 500px;
                height: 300px;
                text-align: center;
                border: 1px solid black;
                box-shadow: 10px 10px 5px grey;
            }
        </style>
        <hr> 
        <div class="main_center">
            <div class="centerss">
                <div class="card-header green">
                    <h4>Log In</h4>
                </div>
                <br>
                <div class="card-body">
                    <form action="{% url 'users.login' %}" method="POST">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="LOGIN">
                    </form>
                </div>
            </div>
        </div>
{% endblock%}